body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --background: #f8f8f8;
  --heading: #f3f2f7;
  --white: #ffffff;
  --grey: #edecf3;
  --green: #e5f8ee;
  --text-black: #1b1b1b;
  --nav-hero-text: #30ca92;
  --nav-grey: #acabb4;
  --item-head: #f3f2f7;
  --item-grey: #8a8794;
  --item-light-grey: #b9b7bf;
  --xs-font: 0.5vw;
  --s-font: 0.7vw;
  --m-font: 0.85vw;
  --l-font: 1vw;
}

@media only screen and (max-width: 500px) {
  :root{
    --xs-font: 0.7vh;
    --s-font: 1vh;
    --m-font: 1.4vh;
    --l-font: 1.8vh;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
